<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${msg}">Document</title>
</head>
<body>
    <div class="container">
        <h2>Tambah Sedan</h2>
        <div>
            <form th:object="${sedan}" method="post" th:action="@{/sedan/save}">                
                <div class="form-group">
                    <label>id_mobil</label>
                    <select class="form-control" th:field="*{mobil.id}">
                        <option th:each="m : ${listMobil}" th:value="${m.id}" th:text="${m.merek}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label>bahan_bakar</label>
                    <input type="text" class="form-control" th:field="*{bahan_bakar}"/>
                </div>
                <div class="form-group">
                    <label>kapasitas</label>
                    <input type="text" class="form-control" th:field="*{kapasitas}"/>
                </div>
                <p><button type="submit">Submit</button></p>
            </form>
        </div>
    </div>
</body>
</html>