<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${msg}">Document</title>
</head>
<body>
    <div class="container">
        <h2>Edit MObil</h2>
        <div>
            <form th:object="${mobil}" method="post" th:action="@{/update}">
                <div class="form-group">
                    <label>merek</label>
                    <input type="text" class="form-control" th:field="*{merek}"/>
                </div>
                <div class="form-group">
                    <label>type</label>
                    <input type="text" class="form-control" th:field="*{type}"/>
                </div>
                <div class="form-group">
                    <label>warna</label>
                    <input type="text" class="form-control" th:field="*{warna}"/>
                </div>
                <div class="form-group">
                    <label>jumlah_pintu</label>
                    <input type="number" class="form-control" th:field="*{jumlahPintu}"/>
                </div>
                <br/>
                <input type="hidden" th:field="*{id}" />
                <p><button type="submit">Save</button></p>
            </form>
        </div>
    </div>
</body>
</html>