<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${msg}">Document</title>
</head>
<body>
    
    <center>
        <a th:href="@{/sedan}">Sedan</a>
        <a th:href="@{/porsche}">Porsche</a>
    <div class="container">
        <a class="" th:href="@{/add}">Tambah</a>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>merek</th>
                    <th>type</th>
                    <th>warna</th>
                    <th>jumlah_pintu</th>
                    <th>action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each=" m : ${mobils} ">
                    <td th:text="${m.id}"></td>
                    <td th:text="${m.merek}"></td>
                    <td th:text="${m.type}"></td>
                    <td th:text="${m.warna}"></td>
                    <td th:text="${m.jumlahPintu}"></td>
                    <td>
                        <a class="" th:href="@{'edit/'+${m.id}}">edit</a>
                        <a class="" th:href="@{'delete/'+${m.id}}">delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</center>
</body>
</html>